@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

body{
    background-color: rgb(247, 238, 227);
}

#backgroundCard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    width: 500px;
    height: 350px;
    background-color: white;
    border-radius: 7px;
}

.img{
    display: inline-block;
    background-image: url("images/desktop.jpg");
    width: 250px;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
}

#backgroundCard img{
    height: 100%;
    width: 50%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.internaCard{
    position: absolute;
    display: inline-block;
}

.paragrafo1{
    letter-spacing: 3px;
    text-transform: uppercase;
    display: block;
    font-size: 15px;
    margin: 25px;
    margin-top: 10px;
    padding-bottom: 10px;
    font-family: Montserrat, sans-serif;
}

h1{
    display: block;
    max-width: 200px;
    margin-left: 20px;
    font-size: 30px;
    line-height: 27px;
    margin-top: -20px;
}

p{
    margin-left: 20px;
    max-width: 220px;
}

.preco{
    display: inline-block;
}

.ofer1{
    color: green;
    font-size: 30px;
    margin-top: -10px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif, serif;
}

.ofer2{
    text-decoration: line-through;
}

.botao{
    cursor: pointer;
    background-color: green;
    width: 200px;
    height: 40px;
    border-radius: 7px;
    font-weight: bold;
    color: white;
    border: none;
}

.container{
    display: flex;
    justify-content: center;
}

.botao:hover{
    background-color: rgb(1, 78, 1);
    color: rgb(253, 253, 127);
}

@media screen and (max-width: 700px) {
   
    #backgroundCard {
       height: 667px;
       width: 375px; 
    }
    
    #card{
        width: 85%;
        height: 90%;
        border-radius: 7px;
    }

    #card .img{
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    .img{
        background-image: url("images/mobiile.jpg");
        width: 100%;
        height: 40%;
        display: inline-block;
    }

    .internaCard {
        display: block;
    }

    h1{
        font-size: 32px;
        max-width: 250px;
    }

    .descripion{
         max-width: 250px;
         font-size: 15px;
    }

    .container{
        margin-left: 40px;
    }
    
    

}
